<ion-header>
  <ion-navbar>
    <ion-title>
      Main hub
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="auth.authenticated == true">
        <p>
          Welcome, <b>{{auth.getEmail()}}</b> 
        </p>
        <div *ngIf="currentGame==null">
        <button ion-button (click)="createGame()">Create game</button>
      <ion-list>
        <ion-item *ngFor="let game of games | async">
          {{game.name}}
          <button ion-button icon-only light (click)="joinGame(game.id)">
              join
            </button>
        </ion-item>
      </ion-list>
      </div>
      <div *ngIf="currentGame!=null">
  <ion-list>
      You have 300 moneys
      <br>
      <br>
    Current Game: {{currentGame.name}}
    <br>
    Player 1: {{currentGame.player1}}
    <br>
    <div *ngIf="currentGame.player2!=null">
      Player 2: {{currentGame.player2}}
    </div>
    <ion-item-sliding *ngFor="let item of items | async">
      <ion-item>
        {{item.name}} - {{item.price}} moneys
        <br>
        {{item.description}}
      </ion-item>
      <ion-item-options>
          <button ion-button icon-only light (click)="updateItem(item)">
              <ion-icon name="paper"></ion-icon>
            </button>
        <button ion-button icon-only danger (click)="deleteItem(item.name, item.id)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <button ion-button (click)="leaveGame()">Leave game</button>
</div>
  <button ion-button (click)="logout()">Log Out</button>
</div>
</ion-content>
